<form method="POST" action="/">
      <label for="phrase">Enter your phrase:</label>
      <p> Name<input type="text" id="phrase" name='name'></p>
      <p>Breed<input type="text" id="breed" name='breed'></p>
      <p>Age<input type="text" id="age" name='age'></p>

      <button type="submit" value="submit"></button>
    </form>
